VerifyinFORMAT: 1A
HOST: http://cmsapi.cisco.io/api/v1

# Cisco Meeting Server API

The Cisco Meeting Server software can be hosted on specific servers based on Cisco Unified
Computing Server (UCS) technology as well as on the Acano X-Series hardware, or on a
specification-based VM server. Cisco Meeting Server is referred to as the Meeting Server
throughout this document.

This document covers release 2.3 of the Application Program Interface for the Cisco Meeting server. For version specific API changes, refer to the Release Notes for Cisco Meeting Server.

In addition to this reference  you can find documentation for Cisco Meeting Server here: https://www.cisco.com/c/en/us/support/conferencing/meeting-server/tsd-products-support-series-home.html. 

* support for recording meetings
* additional DTMF support
* change in behavior of the "allEqual" screen layout for SIP endpoints, (see the defaultLayout parameter for `/coSpaces` and `/callLegProfiles` objects, and defaultLayout, chosenLayout and layout parameters for the `/calls` object).

## Support for recording meetings
New API objects to enable the recording of meetings hosted on the Acano server.
 
They are: 

    * `/recorders`
    * `/recorders/<recorder id>`

* New recording parameter for `/calls` and `/calls/<call id>`
* New recordingControlAllowed parameter for `/callLegProfiles` and `/callLegProfiles/<call leg profile id>`
* New recordingMode parameter for `/callProfiles` and `/callProfiles/<call profile id>`
* New startRecording and stopRecording parameters for `/dtmfProfiles` and `/dtmfProfiles/<dtmf profile id>`
* Two new error codes to aid diagnostics:
    * callRecordingCannotBeModified
    * recorderDoesNotExist

### Additional parameters giving meeting participants greater control over audio and presenting content
* New parameters for `/calls` and `/calls/<call id>`, `/callLegProfiles` and `callLegProfiles/<call leg profile id>` as follows:
    * recording
    * allowAllMuteSelf
    * allowAllPresentationContribution
    * joinAudioMuteAllNewAudio

### Additional support for DTMF
* New dtmfSequence parameter for `/calls/<call id>/callLegs` and `/callsLegs/<call leg id>`
* New parameters for `/dtmfProfiles` and `/dtmfProfiles/<dtmf profile id>` as follows:
    * startRecording
    * stopRecording
    * allowAllMuteSelf
    * cancelAllMuteSelf
    * allowAllPresentationContribution
    * cancelAllPresentationContribution
    * muteAllNewAudio
    * unmuteAllNewAudio
    * defaultMuteAllNewAudio
    * muteAllNewAndAllExceptSelfAudio
    * unmuteAllNewAndAllExceptSelfAudio

## General Structure of Methods

The Meeting Server‘s Application Programming Interface (API) is designed as a hierarchy of
objects, like the trunk and roots of a tree. 
For example, each configured coSpace exists as a
node in this tree, and all of the users who are members of that coSpace exist as nodes
“beneath” the coSpace object’s node. The API objects are accessed using a suitable REST
client, see Section 3.3.

---
**Note:**Although the Cisco Meeting App and other Cisco Meeting Server guides refer to "spaces" rather than "coSpaces", the API still uses /coSpace objects.

---

The Meeting Server has the potential to host a large number of active calls and coSpaces. To reduce the overhead of retrieving the entire collection of objects in a single response, responses
typically return the first “N” matching entries and a count of the total number of objects of that type. To find an individual object’s active status, or to modify or delete it, use filters on the initial retrieval in order to identify the object in question. 

### Object Hierarchy
The hierarchy of objects addressable via the API is:
`/accessQuery`
`/callBrandingProfiles`
`/callBrandingProfiles/<call branding profile id>`

`/callBridges`
`/callBridges/<call bridge id>`

`/calls`
`/calls/<call id>`
`/calls/<call id>/callLegs`
`/calls/<call id>/diagnostics`
`/calls/<call id>/participants`

`/callProfiles`
`/callProfiles/<call profile id>`

`/callLegs`
`/callLegs/<callLeg id>`
`/callLegs/<callLeg id>/callLegProfileTrace`

`/callLegProfiles`
`/callLegProfiles/<call leg profile id>`
`/callLegProfiles/<call leg profile id>/usage`

`/coSpaces`
`/coSpaces/<coSpace id>`
`/coSpaces/<coSpace id>/accessMethods`
`/coSpaces/<coSpace id>/accessMethods/<access method id>`
`/coSpaces/<coSpace id>/coSpaceUsers`
`/coSpaces/<coSpace id>/coSpaceUsers/<coSpaceUser id>`
`/coSpaces/<coSpace id>/diagnostics`
`/coSpaces/<coSpace id>/messages`

`/dialTransforms`
`/dialTransforms/<dial transform id>`

`/directorySearchLocations`
`/directorySearchLocations/<directory search location id>`

`/dtmfProfiles`
`/dtmfProfiles/<dtmf profile id>`

`/forwardingDialPlanRules`
`/forwardingDialPlanRules/<forwarding dial plan rule id>`

`/inboundDialPlanRules`
`/inboundDialPlanRules/<inbound dial plan rule id>`

`/ivrs`
`/ivrs/<ivr id>`
`/ivrBrandingProfiles`
`/ivrBrandingProfiles/<ivr branding profile id>`

`/ldapMappings`
`/ldapMapping/<ldap mapping id>`
`/ldapServers`
`/ldapServers/<ldap server id>`
`/ldapSources`
`/ldapSources/<ldap source id>`
`/ldapSyncs`
`/ldapSyncs/<ldap sync id>`

`/outboundDialPlanRules`
`/outboundDialPlanRules/<outbound dial plan rule id>`
`/participants`
`/participants/<participantId>`
`/participants/<participantId>/callLegs`

`/recorders`
`/recorders/<recorder id>`
`/system/alarms`
`/system/cdrReceiver (deprecated in R1.8)`
`/system/cdrReceivers`
`/system/cdrReceivers/<CDR receiver id>`
`/system/configuration/cluster`
`/system/configuration/xmpp`
`/system/database`
`/system/diagnostics`
`/system/diagnostics/<diagnostics id>`
`/system/diagnostics/<diagnostics id>/contents`
`/system/profiles`
`/system/status`

`/tenantGroups`
`/tenantGroups/<tenant group id>`

`/tenants`
`/tenants/<tenant id>`

`/turnServers`
`/turnServers/<turn server id>`
`/turnServers/<turn server id>/status`

`/users`
`/users/<user id>`
`/users/<user id>/usercoSpaces`
`/userProfiles`
`/userProfiles/<user profile id>`

`/webBridges`
`/webBridges/<web bridge id>`
`/webBridges/<web bridge id>/updateCustomization`

In each case, the top level plural term sits above potentially many individual object nodes; these individual object nodes are identified by an <ID> which is a GUID, typically. For example, if there are 100 coSpaces configured on an Acano server, conceptually there would be 100 nodes directly beneath `/coSpaces` in the hierarchy.

## Accessing the API
The API uses HTTPS as a transport mechanism.

### Configuration Settings
To use the API, you need to connect via HTTPS via the same TCP ports as you would use to access the Web Admin Interface – typically port 443; that is, they use the same interface.

You also need to configure a username and password: you must provide these credentials in order to use the API. From R1.7, you set them using the MMP command `user add <username> (admin|crypto|audit|appadmin|api)`. This command prompts for the user’s password; see the MMP Command Reference for details.

### Authentication
The API user supplies a shared secret username and password to the Acano server configured with the same username and password. The username and password are set in the MMP command line.

While the authentication credentials are sent in essentially plain text within the HTTP traffic, by using HTTPS the traffic itself cannot be read by an external party.

### Tools to Use
Suitable tools to access and update the API include:
* Firefox Poster
* Chrome Postman
* Chrome Advanced Rest Client

Appendix B provides an example of using the Firefox Poster tool.

## API Methods
There are four methods:
* [GET]() is used for retrieval of existing information
* [POST]() is used to create new objects in the hierarchy
* [PUT]() is used to modify an existing object
* [DELETE]() is used to destroy an object in the tree

These methods are described in more detail below.

### URL format
For the purposes of addressing or creating individual objects, the URL format mirrors the conceptual hierarchy of objects, with some additional preceding tags in order to identify that the request is for the API. By way of example, to retrieve information on API object `/calls/dbfca0dd-dbe1-43bb-b101-beb9a7ef35f4` it would be necessary to issue:
`GET /api/v1/calls/dbfca0dd-dbe1-43bb-b101-beb9a7ef35f4 HTTP/1.1`

Specifically, at the top level, including `/api` means that the on-board HTTP server process can distinguish this HTTP method from a normal browser method, and including `v1` means the API handler knows that the request is being made by an object that understands version 1 of the API.

If an API method is successful, it yields a “200 OK” response from the Acano server. If an error occurs, the Acano server responses with a 4xx or 5xx HTTP status code.

A 503 (“Service Unavailable”) status code is returned for API calls unable to be serviced due to a temporary “busy” condition on the Acano server – this can be used as an indication to the requestor that it would be useful to re-attempt the same method later.

Equally, a request supplying a <coSpace id> which does not correspond to a valid coSpace object yields “404 Not Found”.

For 4xx and 5xx error cases, extended error information may be returned as “text/xml” body data, for example:
`<failureDetails><coSpaceDoesNotExist/></failureDetails>`

More generally, such a response consists of a “failureDetails” section and a list of errors; in the above case a method was attempted using a coSpace ID that did not correspond to an active coSpace. The possible failure reasons are described in Section 4.5.

### GET Methods
As mentioned above, GET methods allow retrieval of information about existing API accessible objects, and are used at two levels: Collections level and Individual object level.

#### Collections level
If the GET method is performed at the Collections level (the pluralized noun: “calls”, “coSpaces” etc.) then some number of matching child nodes will be retrieved. By design this is not guaranteed to be the entire list, but the total number of objects of that type present in the Acano server can be learnt via this mechanism.

In order to retrieve just specific items, most GET methods at the Collections level allow the use of a filter expression. The idea here is that the interface of a management tool would initially present the API user with the summed count of coSpaces (for example), basic details on the first “N” coSpaces (e.g. their names) and a filter box which the human user can use to search for the specific coSpace(s) of interest.

With no other additional parameters, a GET method at the Collections level will return items from the start of the Acano server's notional complete list. By comparing the number of items returned with the "total" value, it is straightforward to determine whether all elements have been returned (if the number of elements returned is equal to the "total" value).

#### Using limit and offset at the Collections level
It is possible to restrict the number of elements returned to a limit chosen by the requestor, by including a "limit=<limitValue>" in the API request. This guarantees that no more than the specified "limitValue" number of elements will be returned - the Acano server will have its own limit in these cases too, and therefore the number of elements returned will be the lower of any supplied "limitValue" and the Acano server's own limit.

In order to retrieve elements other than the first "n" on the Acano server's notional list, it is also possible to supply an "offset=<offsetValue>" in the API request. This causes the Acano server to return elements which start at the specified position in its list, skipping the first "offsetValue" number of elements. If "offsetValue" is greater than the number of objects of that type, then no elements will be returned.

---
**Note:** The offset value should not be viewed as a general mechanism for retrieving a large complete list - sequential retrievals of one "page" of data followed by a second "page" will not necessarily be operating on the same complete list if any objects have been deleted or added in the interval between these methods.

---

The expectation is that, for each request and response, the requestor will keep track of the offset and limit values used, and combine this knowledge with the number of elements returned in the response and the "total" indicated by the Acano server. If the "offsetValue" supplied by the requestor plus the number of elements returned is less than the "total" value indicated in the response, the requestor then knows that there are more values present. The following table shows some examples:

<table>
    <tr>
        <th>Requestor offset</th>
        <th>Requestor limit</th>
        <th>XML Response</th>
        <th>Meaning</th>
    </tr>
    <tr>
        <td>not supplied</td>
        <td>not supplied</td>
        <td></td>
        <td>All coSpaces (0 – 6) present in response</td>
    </tr>
    <tr>
        <td>not supplied</td>
        <td>1</td>
        <td></td>
        <td>First coSpace present in response</td>
    </tr>
    <tr>
        <td>4</td>
        <td>10</td>
        <td></td>
        <td>coSpaces 4 - 6 present in response</td>
    </tr>
    <tr>
        <td>20</td>
        <td>10</td>
        <td></td>
        <td>coSpaces 20 - 27 present in response. (The Acano server limited its response to 8 entries despite the requestor allowing up to 10.)</td>
    </tr>
</table>

#### Individual object level
If the GET method is performed at the Individual object level, full information about just that one object will be returned. For example, after the unique ID of a coSpace has been learnt via a (potentially filtered) GET of the `/coSpaces` node, a subsequent GET of the `/coSpaces/<coSpace id>` node would return expanded information about just that one coSpace, for example how many members it has, and when it was last activated.

#### HTTP specifics
GET methods contain the complete node location and any parameters specific to the retrieval being performed in the URI supplied by the API user. For example, to retrieve basic information on the first “N” coSpaces, the URI would be:

`/api/v1/coSpaces`

whereas to list just those whose name includes “sales”, the GET would be performed on:
`/api/v1/coSpaces?filter=sales`

If a GET method has been successful and yields a “200 OK” response, the Acano server returns the retrieved information as “text/xml” body data.

#### How GET methods are detailed in this document
For each GET method at the Collections level the following information is provided:
* The node it operates on
* A table of form parameters, such as filter, offset and limit mentioned above, some of which may be optional. Mandatory parameters are marked with an asterisk (*)
* A table showing the returned information

Both tables show the format of the parameter (e.g. `ID` or `string`) or the possible values (e.g. `true`|`false`)

For each GET method at the Individual level the following information is provided:
* The node it operates on
* A table showing the returned information

The form parameters are those for the Collections level, unless otherwise indicated.

### POST Methods
POST methods create new objects; for example, to create a new configured coSpace or dial plan rule. Using a POST method to create a new call leg associated with a coSpace is the way to make a new outbound SIP connection.

#### HTTP specifics
Most POST methods require some parameters to be supplied: for example, creation of a coSpace requires the new coSpace’s name to be specified, and a new call leg can only be created if the remote party’s address is known. Such parameters must be supplied by the initiator of the POST method via the standard HTTP “x-www-form- urlencoded” format, as used by “\<form\>” elements in an HTML document.

If a POST method has been successful in adding a new object to the hierarchy, that object’s id, and its position within the hierarchy are returned in the “Location” field of the response.

#### How POST methods are detailed in this document
For each POST method the following information is provided:
* The node it operates on
* A table of form parameters, some of which may be optional. Mandatory parameters are marked with an asterisk (*)
* The format of each parameter (e.g. `ID` or `string`) or the possible values (e.g. `true`|`false`). If appropriate the default value of a parameter (the value used if you do not specify a parameter) is shown in **bold** (e.g. `true`|`false`).

### PUT Methods
PUT methods modify existing objects; for example, changing the name of a coSpace, muting a specific call leg or changing the layout.

In general, when using PUT in an object:
* omit a parameter to leave its value unchanged
* use a parameter with a new value to change to this value. Supply an empty value to unset a value. For example, to remove a tenant association from a coSpace, modify that coSpace with a parameter set including “tenant=”.

#### HTTP specifics
Parameters for a request must be supplied in “x-www-form-urlencoded” format.

#### How PUT methods are detailed in this document
Each PUT method is in the same section as the POST method for the same object e.g. creating and modifying a coSpace are dealt with together. Form parameters for modifying an object (PUT) are only noted if they differ from the POST method; for example, for callLegs.

### DELETE Methods
A DELETE method removes an individual object from the hierarchy; for example, disconnecting a call leg or disassociating a user from a coSpace so that the user is no longer a member.

Therefore the DELETE method is typically performed at the Individual level e.g. `DELETE on /api/v1/coSpace/<id>/accessMethods/<id>`

The object’s ID is known either from a previous retrieval (GET) method at the Collections level or from the “Location” field in the response to a previous creation (PUT) method. (coSpace can be deleted at the Collections level.)

If the object is removed successfully, the Acano server sends a “200 OK” response.

Because of the relative simplicity of this method, it is not detailed elsewhere in this document – with the exception of deleting chat messages.

### Failure Reasons
The following "failureDetails" codes can be returned by the API for any of the above methods, in the form in response to a user error:
`<failureDetails><tenantDoesNotExist /></failureDetails>`

<table>
    <tr>
        <th>Reason code</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>accessMethodDoesNotExist</td>
        <td>You tried to modify or remove an accessMethod using an ID that did not correspond to a valid access method</td>
    </tr>
    <tr>
        <td>callBrandingProfileDoesNotExist</td>
        <td>You tried to modify or remove a call branding profile using an ID that did not correspond to a valid call branding profile</td>
    </tr>
    <tr>
        <td>callBridgeDoesNotExist</td>
        <td>You tried to modify or remove a configured clustered Call Bridge using an ID that did not correspond to a valid clustered Call Bridge</td>
    </tr>
    <tr>
        <td>callDoesNotExist</td>
        <td>You tried to perform a method on a call object using an ID that did not correspond to a currently active call</td>
    </tr>
    <tr>
        <td>callRecordingCannotBeModified</td>
        <td>You tried to start/stop recording a call that cannot be modified. Present from R1.9</td>
    </tr>
    <tr>
        <td>callLegCannotBeDeleted</td>
        <td>You tried to delete a call leg that can't be deleted. Present from R1.8</td>
    </tr>
    <tr>
        <td>callLegDoesNotExist</td>
        <td>You tried to perform a method on a call leg object using an ID that did not correspond to a currently active call leg</td>
    </tr>
    <tr>
        <td>callLegProfileDoesNotExist</td>
        <td>You tried to modify or remove a callLegProfile using an ID that did not correspond to a valid call leg profile</td>
    </tr>
    <tr>
        <td>callProfileDoesNotExist</td>
        <td>You tried to modify or remove a callProfile using an ID that is not valid</td>
    </tr>
    <tr>
        <td>cdrReceiverDoesNotExist</td>
        <td>You tried to modify or remove a CDR receiver using an ID that did not correspond to a valid CDR receiver. Present from R1.8</td>
    </tr>
    <tr>
        <td>coSpaceDoesNotExist</td>
        <td>You tried to modify or remove a coSpace using an ID that did not correspond to a valid coSpace on the system</td>
    </tr>
    <tr>
        <td>coSpaceUserDoesNotExist</td>
        <td>You tried to modify or remove a coSpace user using an ID that did not correspond to a valid coSpace user</td>
    </tr>
    <tr>
        <td>databaseNotReady</td>
        <td>You tried a method (e.g. initiation of an LDAP sync method) before the database was ready</td>
    </tr>
    <tr>
        <td>directorySearchLocationDoesNotExist</td>
        <td>You tried to reference, modify or remove a directory search location using an ID that did not correspond to a valid directory search location. Present from R1.8</td>
    </tr>
    <tr>
        <td>dtmfProfileDoesNotExist</td>
        <td>You tried to reference, modify or remove a DTMF profile using an ID that did not correspond to a valid DTMF profile</td>
    </tr>
    <tr>
        <td>duplicateCallBridgeName</td>
        <td>You tried to create or modify a clustered Call Bridge to use a name that would clash with an existing configured clustered Call Bridge</td>
    </tr>
    <tr>
        <td>duplicateCoSpaceId</td>
        <td>You tried to create or modify a coSpace call ID to use a call ID that clashed with one used by another coSpace</td>
    </tr>
    <tr>
        <td>duplicateCoSpaceUri</td>
        <td>You tried to create or modify a coSpace to use a URI that clashed with one that corresponds to another coSpace. (Two coSpaces can't share the same URI, because the Acano server must be able to uniquely resolve an incoming call to a coSpace URI)</td>
    </tr>
    <tr>
        <td>duplicateCoSpaceSecret</td>
        <td>You tried to modify a coSpace, or create or modify a coSpace access method, using a secret that clashed with one that is already used by that coSpace or one of its access methods</td>
    </tr>
    <tr>
        <td>forwardingDialPlanRuleDoesNotExist</td>
        <td>You tried to modify or remove an forwarding dial plan rule using an ID that did not correspond to a valid forwarding dial plan rule</td>
    </tr>
    <tr>
        <td>inboundDialPlanRuleDoesNotExist</td>
        <td>You tried to modify or remove an inbound dial plan rule using an ID that did not correspond to a valid inbound dial plan rule</td>
    </tr>
    <tr>
        <td>inboundDialPlanRuleUriConflict</td>
        <td>You tried to make modifications to an inbound dial plan rule which would have caused a URI conflict. For example, this can happen if you try to add a rule which matches multiple tenants and more than one tenant has a coSpace with the same URI</td>
    </tr>
    <tr>
        <td>invalidOperation</td>
        <td>You tried an operation which isn't supported; for example, you attempted to POST to /api/v1/system/profiles or issue a DELETE for a configured user generated from an LDAP sync</td>
    </tr>
    <tr>
        <td>invalidVersion</td>
        <td>You attempted an operation with an invalid API version. Present from R1.8</td>
    </tr>
    <tr>
        <td>ivrBrandingProfileDoesNotExist</td>
        <td>You tried to modify or remove an IVR branding profile object using an ID that did not correspond to a valid IVR branding profile on the system</td>
    </tr>
    <tr>
        <td>ivrDoesNotExist</td>
        <td>You tried to modify or remove an IVR object using an ID that did not correspond to a valid IVR on the system</td>
    </tr>
    <tr>
        <td>ivrUriConflict</td>
        <td>You tried to make modifications to an IVR object which would have caused a URI conflict</td>
    </tr>
    <tr>
        <td>ldapMappingDoesNotExist</td>
        <td>You tried to modify or remove an LDAP mapping using an ID that did not correspond to a valid LDAP mapping</td>
    </tr>
    <tr>
        <td>ldapServerDoesNotExist</td>
        <td>You tried to modify or remove an LDAP server using an ID that did not correspond to a valid LDAP server</td>
    </tr>
    <tr>
        <td>ldapSourceDoesNotExist</td>
        <td>You tried to modify or remove an LDAP source using an ID that did not correspond to a valid LDAP source</td>
    </tr>
    <tr>
        <td>ldapSyncCannotBeCancelled</td>
        <td>You tried to cancel an LDAP synchronization that has either started or completed – only LDAP synchronization methods that have not started yet can be cancelled</td>
    </tr>
    <tr>
        <td>ldapSyncDoesNotExist</td>
        <td>You tried to query or cancel an LDAP synchronization with an ID that did not correspond to a valid LDAP synchronization</td>
    </tr>
    <tr>
        <td>messageDoesNotExist</td>
        <td>You tried to remove a coSpace message using an ID that did not correspond to a valid coSpace message</td>
    </tr>
    <tr>
        <td>outboundDialPlanRuleDoesNotExist</td>
        <td>You tried to modify or remove an outbound dial plan rule using an ID that did not correspond to a valid outbound dial plan rule</td>
    </tr>
    <tr>
        <td>parameterError</td>
        <td>One or more parameters in a request were found to be invalid. Supporting parameter and error values give more detail about the failure</td>
    </tr>
    <tr>
        <td>participantLimitReached</td>
        <td>You tried to add a new participant beyond the maximum number allowed for the call</td>
    </tr>
    <tr>
        <td>recorderDoesNotExist</td>
        <td>You tried to modify or remove a recorder using an ID that did not correspond to a valid recorder. Present from R1.9</td>
    </tr>
    <tr>
        <td>tenantDoesNotExist</td>
        <td>You tried to modify or remove a tenant using an ID that did not correspond to a valid tenant</td>
    </tr>
    <tr>
        <td>tenantGroupCoSpaceIdConflict</td>
        <td>Your request to remove or use a tenant group would have resulted in a coSpace ID conflict. Present from R1.8</td>
    </tr>
    <tr>
        <td>tenantGroupDoesNotExist</td>
        <td>You tried to modify, remove or use a tenant group that does not exist. Present from R1.8</td>
    </tr>
    <tr>
        <td>tenantParticipantLimitReached</td>
        <td>You tried to add a new participant beyond the maximum number allowed for the owning tenant</td>
    </tr>
    <tr>
        <td>tooManyCdrReceivers</td>
        <td>You tried to add a new CDR receiver when the maximum number were already present. R1.8 supports up to 2 CDR receivers</td>
    </tr>
    <tr>
        <td>tooManyLdapSyncs</td>
        <td>A method to create a new LDAP synchronization method failed. Try again later</td>
    </tr>
    <tr>
        <td>unrecognizedObject</td>
        <td>There are elements in the URI you are accessing that are not recognized; e.g, you tried to perform a GET on /api/v1/system/profile rather than (the correct) /api/v1/system/profiles</td>
    </tr>
    <tr>
        <td>userDoesNotExist</td>
        <td>You tried to modify or remove a user using an ID that did not correspond to a valid user</td>
    </tr>
    <tr>
        <td>userProfileDoesNotExist</td>
        <td>You tried to modify a user profile using an ID that did not correspond to a valid user profile</td>
    </tr>
</table>

## Example Requests and Responses for Specific Methods [/sample]

### Retrieval of Current Active Calls [GET /api/v1/calls]

As described in Section 4.1, retrieval methods using GET involve no body content posted by the retriever. If the request is valid, the Acano server returns XML response data.

+ Request
    + Headers

            Authorization: Basic Ym9iOmJ1aWxkZXI=

+ Response 200 (text/xml)
    + Headers

            Connection: close
    
    + Body
    
            <?xml version="1.0"?>
            <calls total="1">
            <call id="527089d6-6581-4331-8417-971c05c9e274">
            <name>Sales coSpace</name>
            <coSpace>2dcf2b7a-3410-4066-b638-46273698d469</coSpace>
            </call>
            </calls>


### Creating a New Call Leg SIP dial out to 10.1.144.129 [POST /api/v1/callLegs]

+ Request
    + Headers

            Authorization: Basic Ym9iOmJ1aWxkZXI=
            Content-Type: application/x-www-form-urlencoded

    + Body

            remoteParty=10.1.144.129

+ Response 200
    + Headers

            Location: /api/v1/callLegs/5a3b907a-7641-42fb-ae8c- b3424a3e923f
            Connection: close

# Group coSpace Related Methods

---
**Note:** From release 1.9, coSpace has been renamed as space. Although the Cisco Meeting App and other Cisco Meeting Server guides refer to
"spaces" rather than "coSpaces", the API still uses /coSpace objects. The Web Admin
interface has been changed to refer to "spaces".

---

This chapter details the API methods related to management of coSpaces. The chapter covers:
* retrieving coSpaces
* creating and modifying a coSpace
* retrieving detailed information about a single coSpace
* retrieving the members of a coSpace
* adding and modifying a coSpace member
* posting to the message board of a coSpace
* deleting messages from a coSpace message board
* retrieving coSpace access methods
* creating and modifying coSpace access methods
* calling out from a coSpace
* bulk creating, updating, and deleting coSpaces
* coSpace diagnostics

## Retrieving coSpaces [GET /coSpaces/{?offset,limit,filter,tenantFilter,callLegProfileFilter}]
GET method on the `/coSpaces` node

The response includes the total count of the number of coSpaces present which match the filter if provided, irrespective of the number returned within the response. (With no filter, this value is the total number of configured coSpaces).

TODO: Response is structured as a top-level \<coSpaces total=”N”\> tag with potentially multiple \<coSpace\> elements within it.

<coSpace> elements follow the general form on the left.

<table>
    <tr>
        <th>Response elements</th>
        <th>Type/Value</th>
        <th>Description/Notes</th>
    </tr>
    <tr>
        <td>coSpace id</td>
        <td>ID</td>
        <td>The “ID” value returned in the opening tag is a unique identifier for the coSpace, and can be used for future modify / delete / query methods on that coSpace</td>
    </tr>
    <tr>
        <td>name</td>
        <td>name</td>
        <td>The numeric ID that a user would enter at the IVR (or via a web client) to connect to this coSpace</td>
    </tr>
    <tr>
        <td>uri</td>
        <td>String</td>
        <td>The URI that a SIP system would use to dial in to this coSpace</td>
    </tr>
    <tr>
        <td>secondaryUri</td>
        <td>String</td>
        <td>The secondary URI for this coSpace – this provide the same functionality as the “uri” parameter, but allows more than one URI to be configured for a coSpace</td>
    </tr>
    <tr>
        <td>callId</td>
        <td>Number</td>
        <td>The numeric ID that a user would enter at the IVR (or via a web client) to connect to this coSpace</td>
    </tr>
    <tr>
        <td>tenant</td>
        <td>ID</td>
        <td>If provided, associates the specified call leg profile with this tenant</td>
    </tr>
    <tr>
        <td>autoGenerated</td>
        <td>bool</td>
        <td>Whether this coSpace has been added automatically or manually. true - this coSpace has been added automatically as part of an LDAP sync operation. therefore it is not possible, to remove it except by modifying the parameters of the sync operation -- false - this coSpace has been added either via an API method or by using Cisco Meeting App; it can be modified or removed via the API</td>
    </tr>
</table>

+ Parameters
    + offset (number, optional)
        An "offset" and "limit" can be supplied to retrieve coSpaces other than the first “page" in the notional list (see Section 4.1.2).
    + limit (number, optional)
        An "offset" and "limit" can be supplied to retrieve coSpaces other than the first “page" in the notional list (see Section 4.1.2).
    + filter (string, optional)
        Supply “filter=`<string`>” in the URI to return just those coSpaces that match the filter
    + tenantFilter (ID, optional) - Supply tenantFilter=<tenant id> to return just those coSpaces associated with that tenant
    + callLegProfileFilter (ID, optional)
        Supply callLegProfileFilter=`<call leg profile id>` to return just those coSpaces using that call leg profile

+ Request
    + Headers

            Authorization: Basic Ym9iOmJ1aWxkZXI=

+ Response 200 (text/xml)
    + Headers

            Connection: close
    
    + Body
    
            <?xml version="1.0"?>
            <coSpaces total="1">
            <coSpace id="527089d6-6581-4331-8417-971c05c9e274">
            <name>Sales coSpace</name>
            </coSpace>
            </coSpaces>

## Creating and Modifying a coSpace [POST /coSpace]
* Creating: POST method to the `/coSpaces` node. If the coSpace was created successfully, a “200 OK” response is received, and the “Location” header contains the ID for the new coSpace
* Modifying: PUT method on a `/coSpaces/<coSpaceId>` node

---
**Note:** You can also use this PUT to modify the values of a coSpace created in an Acano Client. For example, the coSpace will have been created with the cdrTag of the user who created it but you can change that value with an API call. (This is unlike the cdrTag of an automatically generated coSpace, which cannot be updated with an API call).

---

<table>
  <tr>
    <th>Parameters</th>
    <th>Type/Value</th>
    <th>Description/Notes</th>
  </tr>
  <tr>
    <td>name</td>
    <td>String</td>
    <td>The human-readable name that will be shown on clients’ UI for this coSpace</td>
  </tr>
  <tr>
    <td>uri</td>
    <td>URI user part</td>
    <td>The URI that a SIP system would use to dial in to this coSpace</td>
  </tr>
  <tr>
    <td>secondaryUri</td>
    <td>URI user part</td>
    <td>The secondary URI for this coSpace – this provide the same functionality as the “uri” parameter, but allows more than one URI to be configured for a coSpace</td>
  </tr>
  <tr>
    <td>callId</td>
    <td>String</td>
    <td>The numeric ID that a user would enter at the IVR (or via a web client) to connect to this coSpace</td>
  </tr>
  <tr>
    <td>cdrTag</td>
    <td>String</td>
    <td>Up to 100 characters of free form text to identify this coSpace in a CDR; when a "callStart" CDR is generated for a call associated with this coSpace, this tag will be written (as "cdrTag") to the callStart CDR. See the Cisco Meeting Server CDR Reference for details. The cdrTag can be modified in a PUT method.</td>
  </tr>
  <tr>
    <td>passcode</td>
    <td>String</td>
    <td>The security code for this coSpace</td>
  </tr>
  <tr>
    <td>defaultLayout</td>
    <td>allEqual| speakerOnly| telepresence| stacked|allEqualQuarters|allEqualNinths|allEqualSixteenths| allEqualTwentyFifths|onePlusFive|onePlusSeven|onePlusNine| automatic|onePlusN</td>
    <td>The default layout to be used for new call legs in this coSpace. See Default layout options for the difference in naming between the API and the Web Admin interface</td>
  </tr>
  <tr>
    <td>tenant</td>
    <td>ID</td>
    <td>If provided, associates the specified tenant with this coSpace</td>
  </tr>
  <tr>
    <td>callLegProfile</td>
    <td>ID</td>
    <td>If provided, associates the specified call leg profile with this coSpace</td>
  </tr>
  <tr>
    <td>callProfile</td>
    <td>ID</td>
    <td>If provided, associates the specified call profile with this coSpace</td>
  </tr>
  <tr>
    <td>callBrandingProfile</td>
    <td>ID</td>
    <td>If provided, associates the specified call branding profile with this coSpace</td>
  </tr>
  <tr>
    <td>requireCallId</td>
    <td>true|false</td>
    <td>If this value is supplied as true, and no callId is currently specified for the coSpace, a new auto-generated call Id will be assigned</td>
  </tr>
  <tr>
    <td>secret</td>
    <td>String</td>
    <td>If provided, sets the security string for this coSpace. If absent, a security string is chosen automatically if the coSpace has a callId value. This is the security value associated with the coSpace that needs to be supplied with the callId for guest access to the coSpace.</td>
  </tr>
  <tr>
    <td>regenerateSecret</td>
    <td>true|false</td>
    <td>If provided as true - a new security value is generated for this coSpace and the former value is no longer valid (for instance, any hyperlinks including it will cease to work)If provided as false - do not generate a new secret value for this coSpace; this has no effectThis parameter is only valid for the modify (PUT) case.</td>
  </tr>
  <tr>
    <td>nonMemberAccess</td>
    <td>true|false</td>
    <td>Controls whether non-members of the coSpace are able to have access to the coSpace. If not provided, behaviour defaults to true. (From version 2.0).</td>
  </tr>
  <tr>
    <td>ownerJid</td>
    <td>String</td>
    <td>Indicates the coSpace is owned by the user with the specified JID. (From version 2.0).</td>
  </tr>
  <tr>
    <td>streamUrl</td>
    <td>URL</td>
    <td>Indicates where the coSpace is streamed to, if streaming is initiated. (From version 2.1).</td>
  </tr>
  <tr>
    <td>ownerAdGuid</td>
    <td>ID</td>
    <td>If provided, the coSpace will be owned by the user with the given AD GUID. (From version 2.1).</td>
  </tr>
  <tr>
    <td>meetingScheduler</td>
    <td>String</td>
    <td>Name of person (not necessarily a user) who scheduled the creation of this coSpace, which if set is propagated to any call objects as the “ownerName” field. (From version 2.2).</td>
  </tr>
</table>

>>Note: You can also use this PUT to modify the values of a coSpace created in a Cisco Meeting App. For example, the coSpace will have been created with the cdrTag of the user who created it but you can change that value with an API call. (This is unlike the cdrTag of an automatically generated coSpace, which cannot be updated with an API call.)

#### Default layout options
The naming of the defaultLayout options varies between the API and the Web Admin Interface **Configuration > coSpaces** page. The “mapping" is shown in the table below.

<table>
    <tr>
        <th>API</th>
        <th>Web Admin Interface</th>
    </tr>
    <tr>
        <td>allEqual</td>
        <td>all equal</td>
    </tr>
    <tr>
        <td>speakerOnly</td>
        <td>full screen</td>
    </tr>
    <tr>
        <td>telepresence</td>
        <td>overlay (the loudest speaker is in a large pane and a number of the previous speakers are in small panes which overlay the bottom of the loudest speaker’s pane).
        </td>
    </tr>
    <tr>
        <td>stacked</td>
        <td>stack (the loudest speaker is in a large pane and a number of the previous speakers are in small panes below the loudest speaker’s pane).
        </td>
    </tr>
</table>

### Secondary coSpace URIs
Per coSpace, there is an optional secondaryUri parameter as shown above. This allows flexibility; for example, numeric dialing in addition to a name.
* When creating or modifying a coSpace (see the previous section) you can supply a secondaryUri parameter in addition to the form parameters in the table above e.g. uri
* The secondary URI will be checked for validity and uniqueness in the same way as the uri, and if valid, establishes a new URI by which the coSpace can be reached
* When retrieving information on an individual coSpace (see below) the secondaryUri value will be returned, if it is defined for this coSpace
* The secondaryUri can be created automatically during an LDAP sync if the new LDAP mapping parameter is used. See coSpaceSecondaryUriMapping

### Auto-generation of coSpace callID
A new auto-generated Call Id is assigned if "requireCallId=true" is set via a create (POST) or modify (PUT) method on the coSpace, and no callId is currently specified for the coSpace.

+ Request (application/x-www-form-urlencoded)
    + Attributes
        + name: `PLACEHOLDER` (string) - The human-readable name that will be shown on clients’ UI for this coSpace
        + uri: `PLACEHOLDER` (URI user part) - The URI that a SIP system would use to dial in to this coSpace
        + secondaryUri (URI user part, optional)- The secondary URI for this coSpace – this provide the same functionality as the “uri” parameter, but allows more than one URI to be configured for a coSpace
        + callId (ID, optional) - The numeric ID that a user would enter at the IVR (or via a web client) to connect to this coSpace
        + cdrTag (string, optional) - Up to 100 characters of free form text to identify this coSpace in a CDR; when a "callStart" CDR is generated for a call associated with this coSpace, this tag will be written (as "cdrTag") to the callStart CDR. See the Acano solution CDR Reference for details. The cdrTag can be modified in a PUT method
        + passcode (string, optional) - The security code for this coSpace
        + tenant (ID, optional) - If provided, associates the specified tenant with this coSpace
        + callLegProfile (ID, optional) - If provided, associates the specified call leg profile with this coSpace
        + callProfile (ID, optional) - If provided, associates the specified call profile with this coSpace
        + callBrandingProfile (ID, optional) - If provided, associates the specified call branding profile with this coSpace
        + requireCallId: `true` (boolean) - If this value is supplied as true, and no callId is currently specified for the coSpace, a new auto-generated call Id will be assigned
        + secret (string, optional) - If provided, sets the security string for this coSpace. If absent, a security string is chosen automatically if the coSpace has a callId value. This is the security value associated with the coSpace that needs to be supplied with the callId for guest access to the coSpace. Present from R1.7 onwards
        + regenerateSecret: `false` (boolean) - If provided as true - a new security value is generated for this coSpace and the former value is no longer valid (for instance, any hyperlinks including it will cease to work) If provided as false - do not generate a new secret value for this coSpace; this has no effect. This parameter is only valid for the modify (PUT) case. Present from R1.7 onwards
        + defaultLayout (defaultLayout) - The default layout to be used for new call legs in this coSpace. See Default layout options for the difference in naming between the API and the Web Admin interface
        + nonMemberAccess: `true` (boolean) - Controls whether non-members of the coSpace are able to have access to the coSpace. If not provided, behaviour defaults to true. (From version 2.0).
        + ownerJid (string) - Indicates the coSpace is owned by the user with the specified JID. (From version 2.0).
        + streamUrl (URL) - Indicates where the coSpace is streamed to, if streaming is initiated. (From version 2.1).
        + ownerAdGuid (ID) - If provided, the coSpace will be owned by the user with the given AD GUID. (From version 2.1).
        + meetingScheduler (string) - Name of person (not necessarily a user) who scheduled the creation of this coSpace, which if set is propagated to any call objects as the “ownerName” field. (From version 2.2).

    + Body

            name=MyNewCoSpace

+ Response 200 (text/xml)
    + Body

            <?xml version="1.0"?>
            <coSpaces total="1">
            <coSpaceId="527089d6-6581-4331-8417-971c05c9e274">
            <name>MyNewCoSpace</name>
            </coSpace>
            </coSpaces>

## Retrieving Detailed Information about a Single coSpace [GET /coSpaces/{coSpaceId}]
GET method performed on a `/coSpaces/<coSpaceId>` node. If the coSpace ID supplied is valid, a “200 OK” response is received, containing a single `<coSpaceId=<ID>` object with data as described above for the creating and modifying case.

In addition to the data in common with the create and modify methods, retrieved information about a single coSpace will also include:
* a count of the number of additional access methods for that coSpace, if any have been configured, as a numeric `numAccessMethods` value
* the `autoGenerated` value, which shows whether the coSpace was added automatically as part of an LDAP sync operation

The following information is not included:
* `requireCallID`

>>Note: From 2.1, a “meetingEntryDetail” node is added to allow retrieval of entry details for a specific coSpace meeting. Perform a GET on `/coSpaces/<coSpace id>/meeting EntryDetail`.
Response values are "uri" and "callId".

+ Parameters
    + coSpaceId

+ Response 200
    + Body

            <?xml version="1.0"?>
            <coSpace id="527089d6-6581-4331-8417-971c05c9e274">
            <name>MyNewCoSpace</name>
            </coSpace>

### Retrieving entry details for a specific coSpace [GET /coSpaces/<coSpaceid>/meetingEntryDetail]

From version 2.1, a `meetingEntryDetail` node is added to allow retrieval of entry details for a specific coSpace meeting. Perform a GET on /coSpaces/<coSpace id>/meeting EntryDetail. Response values are uri and callId.

+ Response 200
    + Headers

            TODO:URI and callId

## coSpace Member Methods [/coSpaces/{coSpaceId}/coSpaceUsers/{?filter,offset,limit,callLegProfileFilter}]
## Retrieving the members of a coSpace [GET]
GET method on a `/coSpaces/<coSpaceId>/coSpaceUsers` node.

The response includes the total count of coSpace users configured for the queried coSpace which match the filter, irrespective of the number returned within the response. (With no filter, this value is the total number of users associated with the coSpace).

Response is structured as a top-level `<coSpaceUsers total=”N”>` tag with potentially multiple `<coSpaceUser>` elements within it.
* `<coSpaceUser>` elements follow the general form on the left.
* `<coSpaceUser>` elements have their own ID and also contain an ID for the user.

<table>
    <tr>
        <th>Response elements</th>
        <th>Type/Value</th>
        <th>Description/Notes</th>
    </tr>
    <tr>
        <td>coSpaceUser id</td>
        <td>ID</td>
        <td>The “ID” value returned in the opening tag is a unique identifier for the coSpace, and can be used for future modify / delete / query methods on that coSpace</td>
    </tr>
    <tr>
        <td>userJid</td>
        <td>String</td>
        <td>The XMPP ID of the user</td>
    </tr>
    <tr>
        <td>userId</td>
        <td>ID</td>
        <td>Identifies the user with no relationship to any coSpace association, and may or may not be the same as the ID of the “coSpaceUser” object.</td>
    </tr>
    <tr>
        <td>autoGenerated</td>
        <td>bool</td>
        <td>Whether this coSpace has been added automatically or manually.<ul><li> true - this coSpace has been added automatically as part of an LDAP sync operation. therefore it is not possible, to remove it except by modifying the parameters of the sync operation</li><li>false - this coSpace has been added either via an API method or by using an Acano client; it can be modified or removed via the API</li></ul></td>
    </tr>
     <tr>
    <th>callLegProfile</th>
    <th>ID</th>
    <th>If provided, associates the specified call leg profile with this coSpace user</th>
  </tr>
  <tr>
    <td>canDestroy</td>
    <td>true|false</td>
    <td>Whether this user is allowed to delete the coSpace.</td>
  </tr>
  <tr>
    <td>canAddRemoveMember</td>
    <td>true|false</td>
    <td>Whether this user is allowed to add or remove other members of the coSpace.</td>
  </tr>
  <tr>
    <td>canChangeName</td>
    <td>true|false</td>
    <td>Whether this user is allowed to change the name of the coSpace.</td>
  </tr>
  <tr>
    <td>canChangeUri</td>
    <td>true|false</td>
    <td>Whether this user is allowed to change the URI of the coSpace</td>
  </tr>
  <tr>
    <td>canChangeCallId</td>
    <td>true|false&gt;</td>
    <td>Whether this user is allowed to change the Call ID of the coSpace</td>
  </tr>
  <tr>
    <td>canChangePasscode</td>
    <td>true|false</td>
    <td>Whether this user is allowed to change the passcode of the coSpace</td>
  </tr>
  <tr>
    <td>canPostMessage</td>
    <td>true|false</td>
    <td>Whether this user is allowed to write messages in the coSpace</td>
  </tr>
  <tr>
    <td>canRemoveSelf</td>
    <td>true|false</td>
    <td>Whether this user is allowed to remove himself from the coSpace</td>
  </tr>
  <tr>
    <td>canDeleteAllMessages</td>
    <td>true|false</td>
    <td>Whether this user is allowed to delete all messages from the coSpace message board</td>
  </tr>
  <tr>
    <td>canChangeNonMemberAccessAllowed</td>
    <td>true|false</td>
    <td>Whether this user is allowed to change the “non-member access allowed setting” of the coSpace. From version 2.3.</td>
  </tr>
</table>


+ Parameters
    + coSpaceId (ID)
    + filter (string, optional)
        Supply filter=`<string`> in the URI to return just those coSpace users that match the filter
    + offset (number, optional)
        An "offset" and "limit" can be supplied to retrieve coSpaces other than the first "page" in the notional list (see Section 4.1.2).
    + limit (number, optional)
        An "offset" and "limit" can be supplied to retrieve coSpaces other than the first "page" in the notional list (see Section 4.1.2).
    + callLegProfileFilter (ID, optional)
        Supply callLegProfileFilter=<ID> to return just members using that call leg profile

+ Response 200
    + Body

            <?xml version="1.0"?>
            <coSpaceUser id="527089d6-6581-4331-8417-971c05c9e274">
            <userJid>darth@empire.net</userJid>
            <userId>"de41b1e5-7a56-4894-a5c1-493df2086799"</userId>
            <autoGenerated>"true"</autoGenerated>
            </coSpaceUser>

## Adding and modifying a coSpace member [POST]
* Adding: POST method to a `/coSpaces/<coSpaceId>/coSpaceUsers` node
* Modifying: PUT method performed on a `/coSpaces/<coSpaceId>/coSpaceUsers/<coSpaceUser ID>` node. 
The parameters that you can modify are listed above, with the exception of `userJid`

If the member was added successfully, a “200 OK” response is received, and the “Location” header in the response contains the new user ID.

#### coSpace Permissions
Members with `canAddRemoveMember` set to true can add other users as members of the coSpace from an Acano client (depending on client type and version). New members have identical permissions to the member who added them, except in one case: when the original member also has canRemoveSelf set to false.

Members who cannot remove themselves from the coSpace (as controlled by `canRemoveSelf`) should not be able to create a second member in order to delete their own membership. Therefore any member created from an Acano client by another member in this situation will have `canAddRemoveMember` set to false and `canRemoveSelf` set to true (see the table below). All other permissions are copied from the original member.

<table>
    <tr>
        <th colspan="2">Original user permission</th>
        <th colspan="2">Created user permissions</th>
        <th>Notes</th>
    </tr>
    <tr>
        <th>canAddRemoveMember</th>
        <th>canRemoveSelf</th>
        <th>canAddRemoveMember</th>
        <th>canRemoveSelf</th>
        <th></th>
    </tr>
    <tr>
        <td>False</td>
        <td>NA</td>
        <td>NA</td>
        <td>NA</td>
        <td>They can’t add another user</td>
    </tr>
    <tr>
        <td>True</td>
        <td>True</td>
        <td>True</td>
        <td>True</td>
        <td>All permissions copied</td>
    </tr>
    <tr>
        <td>True</td>
        <td>False</td>
        <td>False</td>
        <td>True</td>
        <td>All other permissions copied</td>
    </tr>
</table>

Using the API provides more flexibility: it is possible to create coSpaces with members who cannot remove themselves, but who can be removed by another member. Members can always be removed via the API.

Auto-generated members (created by an LDAP sync) have auto-generated permissions because it makes no sense to allow them to make changes that will be overwritten by the next LDAP sync. Therefore, for these users the following parameters are always set to false: `canDestroy`, `canChangeName`, `canChangeUri`, `canChangeCallId` and `canRemoveSelf`. 
The other “can” parameters are set to true. Note that changing any of these settings for an auto-generated member via the API will only have a temporary effect and will be overwritten at the next LDAP sync: you could discover whether a member is auto-generated – see the next section.

Finally, if a user creates a coSpace from the Cisco Meeting App, then `canDeleteAllMessages`is set to false for all members, and all other permissions are set to true by default for all members.

<table>
  <tr>
    <th>Permission</th>
    <th colspan="3">coSpace created by:</th>
  </tr>
  <tr>
    <td></td>
    <td>Cisco Meeting App</td>
    <td>LDAP sync</td>
    <td>API</td>
  </tr>
  <tr>
    <td>canDestroy</td>
    <td>true</td>
    <td>false</td>
    <td>false</td>
  </tr>
  <tr>
    <td>canAddRemoveMember</td>
    <td>true</td>
    <td>true</td>
    <td>false</td>
  </tr>
  <tr>
    <td>canChangeName</td>
    <td>true</td>
    <td>false</td>
    <td>false</td>
  </tr>
  <tr>
    <td>canChangeUri</td>
    <td>true</td>
    <td>false</td>
    <td>false</td>
  </tr>
  <tr>
    <td>canChangeCallId</td>
    <td>true</td>
    <td>false</td>
    <td>false</td>
  </tr>
  <tr>
    <td>canChangePasscode</td>
    <td>true</td>
    <td>true</td>
    <td>false</td>
  </tr>
  <tr>
    <td>canPostMessage</td>
    <td>true</td>
    <td>true</td>
    <td>false</td>
  </tr>
  <tr>
    <td>canRemoveSelf</td>
    <td>true</td>
    <td>false</td>
    <td>false</td>
  </tr>
  <tr>
    <td>canDeleteAllMessages</td>
    <td>false</td>
    <td>true</td>
    <td>false</td>
  </tr>
  <tr>
    <td>canChangeNonMemberAccessAllowed</td>
    <td>true</td>
    <td>false</td>
    <td>true</td>
  </tr>
</table>

+ Parameters
    + coSpaceId (ID)

+ Attributes (coSpaceMember)

+ Response 200
    + Headers

            Location: ID
            
## Retrieving Information on a coSpace member [GET /coSpaces/{coSpaceId}/coSpaceUsers/{coSpaceUserId}]
GET method performed on a `/coSpaces/<coSpaceId>/coSpaceUsers/<coSpaceUser ID>` node. If the retrieval is valid, a “200 OK” response is received, with containing a single `<coSpaceUser id=<ID>>` object with data as described above for the creating and modifying case. In addition
* the `autoGenerated` value shows whether the coSpace member was added to the coSpace automatically as part of an LDAP sync operation
* the `canDeleteAllMessages` shows whether this member is allowed to delete chat in the coSpace

+ Parameters
    + coSpaceId (ID)
    + coSpaceUserId (ID)

+ Response 200
    + Body

            <?xml version="1.0"?>
            <coSpaceUser id="527089d6-6581-4331-8417-971c05c9e274">
            <userJid>darth@empire.net</userJid>
            <userId>"de41b1e5-7a56-4894-a5c1-493df2086799"</userId>
            <autoGenerated>"true"</autoGenerated>
            </coSpaceUser>

## coSpace Chat/Message Board Methods [/coSpaces/{coSpaceId}/messages{?minAge,maxAge}]
## Posting to the message board of a coSpace [POST]
POST method performed on the `/coSpaces/<coSpaceId>/messages` node.

If successful, the message is posted to the message board and an ID for the message is returned in the `Location` field of the response header.

<table>
  <tr>
    <th>Parameters </th>
    <th>Type/Value</th>
    <th>Description/Notes</th>
  </tr>
  <tr>
    <td>message * </td>
    <td>String</td>
    <td>The message string to be posted to the message board</td>
  </tr>
  <tr>
    <td>from </td>
    <td>String</td>
    <td>A “from” name to be shown to message board viewers as the originator of the message</td>
  </tr>
</table>

+ Parameters
    + coSpaceId (ID)

+ Attributes (message)

+ Response 200
    + Headers

            Location:ID

## Deleting messages from a coSpace message board [DELETE]
DELETE method on a `/coSpaces/<coSpace ID>/messages` node with the form parameters below which select messages by age. With no additional parameters, all messages for that coSpace will be deleted.

<table>
  <tr>
    <th>Parameters</th>
    <th>Type/Value</th>
    <th>Description/Notes</th>
  </tr>
  <tr>
    <td>minAge</td>
    <td>Number</td>
    <td>If supplied (in the URL) deletes only messages whose age is at least the specified value (in seconds)</td>
  </tr>
  <tr>
    <td>maxAge</td>
    <td>Number</td>
    <td>If supplied specifies (in the URL) an upper limit (in seconds) on the age of messages to be deleted</td>
  </tr>
</table>

+ Parameters
    + minAge (number, optional)
    + maxAge (number, optional)

+ Response 200

## Multiple coSpace Access Methods [/coSpaces/{coSpaceId}/accessMethods/{?filter,offset,limit,callLegProfileFilter}]
There are two related tables of objects:
* Access method per-coSpace, `/coSpaces/<cospace ID>/accessMethods [/<accessMethod ID>]`
* Call leg profile, `/callLegProfiles/<callLegProfile ID>`

### Access method per coSpace
Access methods define `URI` / `passcode` / `callID` combinations that can be used to access a coSpace

Optionally, Access methods can have an associated Call Leg Profile; any call leg joining via such an Access method has that Call leg profile applied to it. If the Access method has no Call leg profile but the coSpace does, then so does coSpace’s call

---
**Note:** When you send an email invitation from Cisco Meeting App to one or more people to join a coSpace or active call, only one set of `URI` / `passcode` / `callID` information is included. If the scope field for an access method is set to public then this information is used. If no access methods have a public scope then the call information from the coSpace’s own configuration is included.

---
### Call leg profile
A call leg profile can be associated with a coSpace object, making it the default call leg profile for all call legs in that coSpace (for instance, those that connect via its configured URI and secondaryUri). (The effect of the coSpace call leg profile can still be overridden by more specific overrides imposed via call leg profiles configured for additional coSpace access methods. See the Call Leg Profile section.

## Retrieving coSpace access methods [GET]

Response is a collection of `<accessMethod id=<access method id>>` objects contained within an `<accessMethods>` object

`<accessMethod>` elements follow the general form on the left.

<table>
    <tr>
        <th>Response elements</th>
        <th>Type/Value</th>
        <th>Description/Notes</th>
    </tr>
    <tr>
        <td>accessMethod id</td>
        <td>ID</td>
        <td></td>
    </tr>
    <tr>
        <td>uri</td>
        <td>String</td>
        <td>The URI to be used for dialing in via this access method</td>
    </tr>
    <tr>
        <td>callId</td>
        <td>ID</td>
        <td>The "call ID" to be used for connecting via this access method (using the IVR or Web Bridge login)</td>
    </tr>
    <tr>
        <td>passcode</td>
        <td>String</td>
        <td>A passcode required for this access method</td>
    </tr>
    <tr>
        <td>callLegProfile</td>
        <td>ID</td>
        <td>The ID of a call leg profile to apply to calls in via this access method</td>
    </tr>
</table>

+ Parameters
    + coSpaceId (ID)
    + filter (string, optional) - Supply filter=`<string`> in the URI to return just those coSpace access methods that match the filter
    + offset (number, optional) - An "offset" and "limit" can be supplied to retrieve coSpaces other than the first "page" in the notional list (see Section 4.1.2)
    + limit (number, optional) - An "offset" and "limit" can be supplied to retrieve coSpaces other than the first "page" in the notional list (see Section 4.1.2)
    + callLegProfileFilter (ID, optional) - Supply callLegProfileFilter=`<ID`> to return just accessMethods for coSpaces using that call leg profile

+ Response 200
    + Body

            <?xml version="1.0"?>
            <coSpaceUser id="527089d6-6581-4331-8417-971c05c9e274">
            <userJid>darth@empire.net</userJid>
            <userId>"de41b1e5-7a56-4894-a5c1-493df2086799"</userId>
            <autoGenerated>"true"</autoGenerated>
            </coSpaceUser>

## Creating and modifying coSpace access methods [POST]
* Creating: POST method to the `/coSpaces/<coSpace Id>/accessMethods` node
* Modifying: PUT method on a `/coSpaces/<coSpace Id>/accessMethods/<accessMethod id>` node

<table>
  <tr>
    <th>Parameters</th>
    <th>Type/Value</th>
    <th>Description/Notes</th>
  </tr>
  <tr>
    <td>uri</td>
    <td>URI user part</td>
    <td>The URI to be used for dialing in via this access method</td>
  </tr>
  <tr>
    <td>callId</td>
    <td>ID</td>
    <td>The "call ID" to be used for connecting via this access method (using the IVR or Web Bridge login)</td>
  </tr>
  <tr>
    <td>passcode</td>
    <td>String</td>
    <td>A passcode required for this access method</td>
  </tr>
  <tr>
    <td>callLegProfile</td>
    <td>ID</td>
    <td>The ID of a call leg profile to apply to calls in via this access method</td>
  </tr>
  <tr>
    <td>secret</td>
    <td>String</td>
    <td>If provided, sets the security string for this coSpace access method. If absent, a security string is chosen automatically if the coSpace access method has a callId value. This is the security value associated with the coSpace access method that needs to be supplied with the callId for guest access to the coSpace via this access method.</td>
  </tr>
  <tr>
    <td>regenerateSecret</td>
    <td>true|false</td>
    <td>If provided as true - a new security value is generated for this coSpace access method and the former value is no longer valid (for instance, any hyperlinks including it will cease to work)If provided as false - do not generate a new secret value for this coSpace access method; this has no effectThis parameter is only valid for the modify (PUT) case</td>
  </tr>
  <tr>
    <td> scope</td>
    <td> public|private</td>
    <td>The visibility of this coSpace access method to users of Cisco Meeting App who are members of the coSpaceIf provided as public - details of this coSpace access method can be made available to members of the coSpaceIf provided as private - details of this coSpace access method will not be made available to members of the coSpaceNote: if you set the scope to public then the Cisco Meeting App can no longer edit the coSpace details. In addition, the uri shown under the name is that from the access method.</td>
  </tr>
</table>

If the coSpace access method is created successfully, a “200 OK” response will be received, and the `Location` header in the response will contain the new coSpace access method ID.



+ Attributes (accessMethod)

+ Response 200
    + Headers

            Location:ID

## Retrieving information on an individual coSpace access method [GET /coSpaces/{coSpaceId}/accessMethods/{accessMethodId}]
GET method on a `/coSpaces/<coSpace id>/accessMethods/<access method id>` node.
If the access method ID supplied is valid, a "200 OK" response and a single `<accessMethodId=access method id>` object will be returned with data in the previous section.

+ Parameters
    + coSpaceId (ID)
    + accessMethodId (ID)

+ Response 200
    + Body

            <accessMethodId=access method id>

## Bulk creating, updating and deleting coSpaces [/coSpaceBulkParameterSets{?startIndex,endIndex}]
## Retrieving the parameter sets for creating coSpaces in bulk [GET]
GET method on `/coSpaceBulkParameterSets` node.

Response is structured as a top-level <coSpaceBulkParameterSets total=”N”> tag with potentially multiple <coSpaceBulkParameterSet> elements within it. 
<coSpaceBulkParameterSet> elements follow the general form on the left.

+ Parameters
    + startIndex (Number) - Index that coSpace mappings start from (inclusive)
    + endIndex (Number) - Index that coSpace mappings end at (inclusive)
        
+ Response 200
    + Body

            <TODO>

## Creating coSpace Bulk Parameter sets [POST]
* Creating: POST method to the `/coSpaceBulkParameterSets` node. Creates a new parameter set, see table below. Returns location of new parameter set `/cospaceBulkParameterSets/<set Id>`
* Modifying: PUT method to the `/coSpaceBulkParameterSets` node. Updates the parameters within this parameter set, but needs to be synchronized for it to take effect.

<table>
  <tr>
    <th>Parameter</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>startIndex</td>
    <td>Number</td>
    <td>Index that coSpace mappings start from (inclusive)</td>
  </tr>
  <tr>
    <td>endIndex</td>
    <td>Number</td>
    <td>Index that coSpace mappings end at (inclusive)</td>
  </tr>
  <tr>
    <td>coSpaceUriMapping</td>
    <td>String</td>
    <td>If specified, this is the mapping that describes what URIs will be used for the coSpaces created with a /coSpaceBulkSync using this coSpaceBulkParameterSet. If not set, coSpace will not have a dialable URI. Syntax: uri-mapping = [uri-component] [“$index$”] [uri-component]Where: uri-component = *( uri-character / escaped-character ) uri-character = *( unescaped-character EXCLUDING ‘@’ ) unescaped-character = any character EXCLUDING ‘$’ and ‘\’escaped-character = “\\” / “\$” ; producing ‘\’ and ‘$’ respectively.These need to be unique so if an index is not used there will be clashes, unless the field is just left completely blank .</td>
  </tr>
  <tr>
    <td>coSpaceNameMapping</td>
    <td>String</td>
    <td>If specified, this is the mapping that describes what names will be used for the coSpaces created with a /coSpaceBulkSync using this coSpaceBulkParameterSet.Syntax: name-mapping = [name-component] [“$index$”] [name-component] Where: name-component = *( unescaped-character / escaped-character ) unescaped-character = any character EXCLUDING ‘$’ and ‘\’ escaped-character = “\\” / “\$” ; producing ‘\’ and ‘$’ respectively.These are not required to be unique.</td>
  </tr>
  <tr>
    <td>coSpaceCallIdMapping</td>
    <td>String</td>
    <td>If specified, this is the mapping that describes what call IDs will be used for the coSpaces created with a /coSpaceBulkSync using this coSpaceBulkParameterSet. If not set then the coSpace will not have a callId.Syntax: id-mapping = [id-component] [“$index$”] [id-component] Where: id-component = *( unescaped-character / escaped-character )unescaped-character = any character EXCLUDING ‘$’ and ‘\’escaped-character = “\\” / “\$” ; producing ‘\’ and ‘$’ respectivelyThese need to be unique so if index is not used there will be clashes, unless the field is just left completely blank.Secrets will be autogenerated if CallIdMapping is set.</td>
  </tr>
  <tr>
    <td>tenant</td>
    <td>ID</td>
    <td>If specified this is the tenant to be associated with the coSpaces created with a /coSpaceBulkSync using this coSpaceBulkParameterSet. If not set then the coSpace will not be associated with a tenant.</td>
  </tr>
  <tr>
    <td>callProfile</td>
    <td>ID</td>
    <td>If specified this is the call profile to be associated with the coSpaces created with a /coSpaceBulkSync using this coSpaceBulkParameterSet. If not set then the coSpace will not be associated with a call profile.</td>
  </tr>
  <tr>
    <td>callBrandingProfile</td>
    <td>ID</td>
    <td>If specified this is the call branding profile to be associated with the coSpaces created with a /coSpaceBulkSync using this coSpaceBulkParameterSet. If not set then the coSpace will not be associated with a call branding profile.</td>
  </tr>
  <tr>
    <td>nonMemberAccess</td>
    <td>true|false</td>
    <td>Whether non-members will be able to access the bulk created coSpaces. If this parameter is not supplied in a create (POST) operation, it defaults to "true" and non members can access the coSpace.</td>
  </tr>
</table>
    
+ Attributes (coSpaceBulkParameterSets)

+ Response 200
    + Headers

            Location:ID
    + Body

            <location ID>

## Retrieving information on an individual coSpace Bulk Parameter sets [GET /coSpaceBulkParameterSets/{setId}]
GET method on `/coSpaceBulkParameterSets/<set Id>` node.

<table>
  <tr>
    <th>Parameter</th>
    <th>Type</th>
    <th>Description</th>
  </tr>
  <tr>
    <td> </td>
    <td> </td>
    <td>Response is structured as a top-level &lt;coSpaceBulkParameterSets total=”N”&gt; tag with potentially multiple &lt;coSpaceBulkParameterSet&gt; elements within it.Each &lt;coSpaceBulkParameterSet&gt; element may include the following elements.</td>
  </tr>
  <tr>
    <td>startIndex</td>
    <td>Number</td>
    <td>Index that coSpace mappings start from (inclusive)</td>
  </tr>
  <tr>
    <td>endIndex</td>
    <td>Number</td>
    <td>Index that coSpace mappings end at (inclusive)</td>
  </tr>
  <tr>
    <td>coSpaceUriMapping</td>
    <td>String</td>
    <td>If specified, this is the mapping that describes what URIs will be used for the coSpaces created with a /coSpaceBulkSync using this coSpaceBulkParameterSet. If not set, coSpace will not have a dialable URI. Syntax: uri-mapping = [uri-component] [“$index$”] [uri-component]Where: uri-component = *( uri-character / escaped-character ) uri-character = *( unescaped-character EXCLUDING ‘@’ ) unescaped-character = any character EXCLUDING ‘$’ and ‘\’escaped-character = “\\” / “\$” ; producing ‘\’ and ‘$’ respectively.These need to be unique so if an index is not used there will be clashes, unless the field is just left completely blank .</td>
  </tr>
  <tr>
    <td>coSpaceNameMapping</td>
    <td>String</td>
    <td>If specified, this is the mapping that describes what names will be used for the coSpaces created with a /coSpaceBulkSync using this coSpaceBulkParameterSet.Syntax: name-mapping = [name-component] [“$index$”] [name-component] Where: name-component = *( unescaped-character / escaped-character ) unescaped-character = any character EXCLUDING ‘$’ and ‘\’ escaped-character = “\\” / “\$” ; producing ‘\’ and ‘$’ respectively.These are not required to be unique.</td>
  </tr>
  <tr>
    <td>coSpaceCallIdMapping</td>
    <td>String</td>
    <td>If specified, this is the mapping that describes what call IDs will be used for the coSpaces created with a /coSpaceBulkSync using this coSpaceBulkParameterSet. If not set then the coSpace will not have a callId Syntax: id-mapping = [id-component] [“$index$”] [id-component] Where: id-component = *( unescaped-character / escaped-character )unescaped-character = any character EXCLUDING ‘$’ and ‘\’escaped-character = “\\” / “\$” ; producing ‘\’ and ‘$’ respectivelyThese need to be unique so if index is not used there will be clashes, unless the field is just left completely blank.Secrets will be autogenerated if CallIdMapping is set.</td>
  </tr>
  <tr>
    <td>tenant</td>
    <td>ID</td>
    <td>If specified this is the tenant to be associated with the coSpaces created with a /coSpaceBulkSync using this coSpaceBulkParameterSet. If not set then the coSpace will not be associated with a tenant.</td>
  </tr>
  <tr>
    <td>callProfile</td>
    <td>ID</td>
    <td>If specified this is the call profile to be associated with the coSpaces created with a /coSpaceBulkSync using this coSpaceBulkParameterSet. If not set then the coSpace will not be associated with a call profile.</td>
  </tr>
  <tr>
    <td>callBrandingProfile</td>
    <td>ID</td>
    <td>If specified this is the call branding profile to be associated with the coSpaces created with a /coSpaceBulkSync using this coSpaceBulkParameterSet. If not set then the coSpace will not be associated with a call branding profile.</td>
  </tr>
  <tr>
    <td>nonMemberAccess</td>
    <td>true|false</td>
    <td>Whether non-members will be able to access the bulk created coSpaces. If this parameter is not supplied in a create (POST) operation, it defaults to "true" and non members can access the coSpace.</td>
  </tr>
</table>

+ Parameters
    + setId (ID)

+ Response 200
    + Body

            <location ID>

## Queueing the bulk sync operations [POST /coSpaceBulkSyncs/{bulk_sync_guid}]
* Creating: POST method to the `/coSpaceBulkSyncs` node. Queues the bulk sync operations for execution as soon as possible. Returns location `/cospaceBulkSync/<bulk_sync_guid>`
* Modifying: PUT method to the `/coSpaceBulkSyncs` node not supported.

---
>**Note:** Bulk Sync will iterate between startIndex and endIndex (inclusive at both end) and expand and insert the mapping parts.
---

<table>
  <tr>
    <th>Parameter</th>
    <th>Type/Value</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>coSpaceBulkParameterSet</td>
    <td>ID</td>
    <td>Parameter set GUID that is going to be synchronised</td>
  </tr>
  <tr>
    <td>removeAll</td>
    <td>true|false</td>
    <td>If supplied, determines whether the sync will remove all entries that were created using the parameter set. Used only if you need to remove all spaces that were created previously. If set to true then no spaces will be created. If set to false, or omitted, then all spaces previously created using this parameter set will be removed and new spaces based on the new mappings will be created.If this parameter is not supplied in a create (POST) operation, it defaults to "false"</td>
  </tr>
</table>

+ Parameters
    + bulk_sync_guid (ID)

+ Attributes (coSpaceBulkParameterSets)

+ Response 200
    + Body

            <location ID>

## Retrieving the bulk sync operations [GET /coSpaceBulkSyncs/{coSpaceBulkParameterSet}]

GET method on `/coSpaceBulkSyncs` node.
Response is structured as a top-level <coSpaceBulkSyncs total=”N”> tag with potentially multiple <coSpaceBulkSync> elements within it.<coSpaceBulkSync> elements follow the general form on the left.

<table>
  <tr>
    <th>Response elements</th>
    <th>Type/Value</th>
    <th>Description/Notes</th>
  </tr>
  
  <tr>
    <td>coSpaceBulkParameterSet</td>
    <td>ID</td>
    <td>Parameter set that was used for this bulk sync</td>
  </tr>
  <tr>
    <td>status</td>
    <td>pending| running| complete| failedCoSpaceUriConflict|failedCallIdConflict| failedIndexRangeInvalid| failedIndexRangeTooGreat|failedNoSuchParameterSet| failed</td>
    <td>Status of the sync operation:pending - the sync operation is in a queue waiting to executerunning - the sync operation is currently runningcomplete - the sync operation has successfully completedfailedCoSpaceUriConflict - the sync failed because it would involve creating a URI that conflicts with one that already existsfailedCallIdConflict - the sync failed because it would involve creating a call ID that conflicts with one that already existsfailedIndexRangeInvalid - the sync failed because the "startIndex" was greater than the "endIndex"failedIndexRangeTooGreat - the sync failed because the difference between "endIndex" and "startIndex" was too largefailedNoSuchParameterSet - the "coSpaceBulkParameterSet" refered to in the sync command did not existfailed - the sync operation failed</td>
  </tr>
  <tr>
    <td>removeAll</td>
    <td>true|false</td>
    <td>If supplied, determines whether the sync will remove all entries that were created using the parameter set. Used only to remove all spaces that were created previously. If set to true then no spaces will be created. If set to false, or omitted, then all spaces previously created using this parameter set will be removed and new spaces based on the new mappings will be created.If this parameter is not supplied in a create (POST) operation, it defaults to "false"</td>
  </tr>
</table>

+ Parameters
    + coSpaceBulkParameterSet (ID)

+ Response 200
    + Body

            <?xml version="1.0"?>
            <coSpaceUser id="527089d6-6581-4331-8417-971c05c9e274">
            <userJid>darth@empire.net</userJid>
            <userId>"de41b1e5-7a56-4894-a5c1-493df2086799"</userId>
            <autoGenerated>"true"</autoGenerated>
            </coSpaceUser>

## Retrieving a specific bulk sync operation [GET /coSpaceBulkSyncs/{coSpacebulksyncid}]
GET method on `/coSpaceBulkSyncs/<coSpacebulksyncid>` node.

<table>
  <tr>
    <th>Response elements</th>
    <th>Type/Value</th>
    <th>Description/Notes</th>
  </tr>
  <tr>
    <td> </td>
    <td> </td>
    <td>Response is structured as a top-level &lt;coSpaceBulkSyncs total=”N”&gt; tag with potentially multiple &lt;coSpaceBulkSync&gt; elements within it.&lt;coSpaceBulkSync&gt; elements follow the general form on the left.</td>
  </tr>
  <tr>
    <td>coSpaceBulkParameterSet</td>
    <td>ID</td>
    <td>Parameter set that was used for this bulk sync</td>
  </tr>
  <tr>
    <td>status</td>
    <td>pending| running| complete| failedCoSpaceUriConflict|failedCallIdConflict| failedIndexRangeInvalid| failedIndexRangeTooGreat|failedNoSuchParameterSet| failed</td>
    <td>Status of the sync operation:pending - the sync operation is in a queue waiting to executerunning - the sync operation is currently runningcomplete - the sync operation has successfully completedfailedCoSpaceUriConflict - the sync failed because it would involve creating a URI that conflicts with one that already existsfailedCallIdConflict - the sync failed because it would involve creating a call ID that conflicts with one that already existsfailedIndexRangeInvalid - the sync failed because the "startIndex" was greater than the "endIndex"failedIndexRangeTooGreat - the sync failed because the difference between "endIndex" and "startIndex" was too largefailedNoSuchParameterSet - the "coSpaceBulkParameterSet" refered to in the sync command did not existfailed - the sync operation failed</td>
  </tr>
  <tr>
    <td>removeAll</td>
    <td>true|false</td>
    <td>If supplied, determines whether the sync will remove all entries that were created using the parameter set. Used only to remove all spaces that were created previously. If set to true then no spaces will be created. If set to false, or omitted, then all spaces previously created using this parameter set will be removed and new spaces based on the new mappings will be created.If this parameter is not supplied in a create (POST) operation, it defaults to "false"</td>
  </tr>
</table>

+ Parameters
    + coSpacebulksyncid (ID)

+ Response 200
    + Body

            <?xml version="1.0"?>
            <coSpaceUser id="527089d6-6581-4331-8417-971c05c9e274">
            <userJid>darth@empire.net</userJid>
            <userId>"de41b1e5-7a56-4894-a5c1-493df2086799"</userId>
            <autoGenerated>"true"</autoGenerated>
            </coSpaceUser>

## coSpace Diagnostics Methods [/coSpaces/{coSpaceId}/diagnostics]
A POST to `/coSpaces/<coSpace id>/diagnostics` triggers the generation of call diagnostics for the specified coSpace.


## Generate call diagnostics [POST]
+ Parameters
    + coSpaceId (ID)
+ Response 200

# Group Calling Out from a coSpace
Adding a remote party to a coSpace requires that this coSpace has an active call from which connections can be made. Essentially this makes an initial call out from a
coSpace a combination of two other API methods:

1. Creation of a new call
2. Adding a new outgoing call leg to a call

These methods are described in later sections. 

# Group Dial Plan Methods
This chapter details the API methods related to configuring dial plans for outbound calls, inbound calls and call forwarding. The chapter covers:
* retrieving outbound dial plan rules
* creating and modifying outbound dial plan rules
* retrieving information on an individual outbound dial plan rule
* retrieving dial plan rules for incoming calls
* creating and modifying dial plan rules for incoming calls
* retrieving information on the dial plan rule for an individual incoming call
* retrieving dial plan rules for forwarding incoming calls
* creating and modifying dial plan rules for forwarding incoming calls
* retrieving information on the dial plan rule to forward an individual incoming call

## Outgoing Dial Plan API Methods [/outboundDialPlanRules/{?filter,offset,limit,tenantFilter}]
### Access to the outgoing dial plan
Typically, the configuration of which trunks or proxies to use for outbound calls is based on the domain of the (SIP) destination being called, which is specified in the outgoing dial plan. The outgoing dial plan sits in the API object tree under the `/outboundDialPlanRules` node, use the POST method to create the outgoing dial plan or set it up via the Web Admin Interface (see note below).

If you are deploying Call Bridge clustering, use the API parameter `scope` to choose whether to apply each outbound dial plan rule to every Call Bridge in the cluster, or just to a particular Call Bridge so the Call Bridge can be trunked to its local Call Control solution (if appropriate).


---
**Note:** The API parameter `callRouting` specifies the mechanism for traversal of outgoing SIP/Lync calls, use this parameter to set up firewall traversal for SIP and Lync devices. This is still a beta feature.

---

---
**Note:** On the Web Admin Interface, the table of outbound rules is configured through the Configuration > Dial plan page. All rules added via the Web Admin Interface are global and applied to every Call Bridge in the cluster. You cannot use the Web Admin interface to specify the call routing for outbound SIP/Lync calls using a specific Call Bridge or Call Bridge group.

---

## Retrieving outbound dial plan rules [GET]
Response is a collection of `<outboundDialPlanRule id=<ID>>` objects contained within an `<outboundDialPlanRules>` object

`<outboundDialPlanRule>` elements follow the general form on the left.

<table>
    <tr>
        <th>Response elements</th>
        <th>Type/Value</th>
        <th>Description/Notes</th>
    </tr>
    <tr>
        <td>outboundDialPlanRule id</td>
        <td>ID</td>
        <td></td>
    </tr>
    <tr>
        <td>domain</td>
        <td>String</td>
        <td>The domain to match in order to apply the dial plan rule; either a complete value (e.g. "example.com") or a “wildcarded” one (e.g. "*.com")</td>
    </tr>
    <tr>
        <td>priority</td>
        <td>Number</td>
        <td>A numeric value which determines the order in which dial plan rules (including rules with wild-carded domains) will be applied. Rules with higher priority values are applied first</td>
    </tr>
    <tr>
        <td>tenant</td>
        <td>ID</td>
        <td>If a tenant is specified, this rule will only be used to make outbound call legs from calls associated with that tenant; otherwise, this rule may be used from any call. This parameter is present from R1.8 onwards.</td>
    </tr>
</table>

+ Parameters
    + filter (optional) - Supply filter=`<string`> in the URI to return just those outbound dial plan rules that match the filter
    + offset (optional) - An "offset" and "limit" can be supplied to retrieve coSpaces other than the first "page" in the notional list (see Section 4.1.2)
    + limit (optional) - An "offset" and "limit" can be supplied to retrieve coSpaces other than the first "page" in the notional list (see Section 4.1.2)
    + tenantFilter (ID, optional) - If supplied, this filter only returns those outbound dial plan rules associated with the specified tenant. This parameter is present from version 1.8 onwards

+ Response 200
    + Body

            TODO:

## Creating and modifying outbound dial plan rules [POST]
* Creating: POST method to the `/outboundDialPlanRules` node. If the outgoing dial plan rule is created successfully, a “200 OK” response will be received, and the `Location` header in the response will contain the new outgoing dial plan rule ID
* Modifying: PUT method on an `/outboundDialPlanRules/<outbound dial plan rule ID>` node

<table>
  <tr>
    <th>Parameters</th>
    <th>Type/Value</th>
    <th>Description/Notes</th>
  </tr>
  <tr>
    <td>domain *</td>
    <td>String</td>
    <td>The domain to match in order to apply the dial plan rule; either a complete value (e.g. "example.com") or a “wildcarded” one (e.g. "*.com")</td>
  </tr>
  <tr>
    <td>priority</td>
    <td>Number</td>
    <td>A numeric value which determines the order in which dial plan rules (including rules with wildcarded domains) will be applied. Rules with higher priority values are applied first. If a rule is matched, but the call cannot be made, then other lower priority rules may be tried depending on the failureAction parameter for the rule.</td>
  </tr>
  <tr>
    <td>localContactDomain</td>
    <td>String</td>
    <td>Used when forming an explicit contact domain to be used: if you leave this field blank then the localContactDomain is derived from the local IP address.If you are using Lync, we suggest that you set localContactDomain. If you are not using Lync, we recommend that localContactDomain is not set to avoid unexpected issues with the SIP call flow.</td>
  </tr>
  <tr>
    <td>localFromDomain</td>
    <td>String</td>
    <td>Used when forming the calling party for outgoing calls using this dial plan rule</td>
  </tr>
  <tr>
    <td>sipProxy</td>
    <td>String</td>
    <td>The address (IP address or hostname) of the proxy device through which to make the call. If not set, it is a direct call.</td>
  </tr>
  <tr>
    <td>trunkType</td>
    <td>sip|lync|avaya</td>
    <td>Used to set up rules to route calls out to third party SIP control devices such as CiscoExpressway, Avaya Manager or Lync servers. If set to lync or avaya then outgoing calls that use this rule will be made as Lync or Avaya calls with some specialized behavior. sip means that calls using this rule will be standard SIP calls.A common use of the Meeting Server is with an Avaya PBX; these calls will be audio-only. However, the Meeting Server does not impose this restriction on interoperability with Avaya products (some of which support video also): therefore a call of type of ‘avaya’ does not imply that the call is audio-only.</td>
  </tr>
  <tr>
    <td>failureAction</td>
    <td>stop|continue</td>
    <td>Whether or not to try the next outbound dial plan rule if the current one did not result in a connected call. If a rule has a failureAction of stop, then no further rules are used.</td>
  </tr>
  <tr>
    <td>sipControlEncryption </td>
    <td>auto|encrypted|unencrypted</td>
    <td>Whether to enforce use of encrypted control traffic on calls made via this rule:encrypted: allow only encrypted SIP control traffic (TLS connections)unencrypted: use only unencrypted traffic (TCP or UDP)auto: attempt to use encrypted control connections first, but allow fall back to unencrypted control traffic in the event of failure.Note: Ensure all "Lync" outbound dialing rules are explicitly set to Encrypted mode to prevent the Call Bridge attempting to use unencrypted TCP for these connections in the event of the TLS connection attempt failing.</td>
  </tr>
  <tr>
    <td>scope</td>
    <td>global|callBridge|callBridgeGroup</td>
    <td>The entities for which this outbound dial plan rule is valid:global - all Call Bridges are able to use this outbound dial plan rule to reach a matching domain.callBridge - this outbound dial plan rule is only valid for a single nominated Call Bridge – whose ID is given in callBridge parameter.callBridgeGroup - this outbound dial plan rule is only valid for a single nominated Call Bridge Group – whose ID is given in the callBridgeGroup parameter. (From version 2.2).If this parameter is not supplied in a create (POST) operation it defaults to “global”.</td>
  </tr>
  <tr>
    <td>callBridge</td>
    <td>ID</td>
    <td>If the rule has a scope of callBridge (see above), this is the id of the Call Bridge for which the rule is valid</td>
  </tr>
  <tr>
    <td>callBridgeGroup</td>
    <td>ID</td>
    <td>If the rule has a scope of callBridgeGroup (see above), this is the id of the Call Bridge Group for which the rule is valid (from version 2.2).</td>
  </tr>
  <tr>
    <td>tenant</td>
    <td>ID</td>
    <td>If a tenant is specified, this rule will only be used to make outbound call legs from calls associated with that tenant; otherwise, this rule may be used from any call. </td>
  </tr>
  <tr>
    <td>callRouting(beta feature)</td>
    <td>default|traversal</td>
    <td>This is the media routing that should be used for SIP calls originating from this rule:default - calls using this rule will use normal, direct, media routingtraversal - media for calls using this rule will flow via a TURN serverif this parameter is not supplied in a create (POST) operation, it defaults to “default” .</td>
  </tr>
</table>

+ Attributes (outboundDialPlanRule)
+ Response 200
    + Headers

            Location:ID

## Retrieving information on an individual outbound dial plan rule [GET /outboundDialPlanRules/{outboundDialPlanRuleId}]
GET method on a `/outboundDialPlanRules/<outbound dial plan rule ID>` node. If the outbound dial plan rule ID supplied is valid, a "200 OK" response and a single `<outboundDialPlanRule id=<ID>>` object will be returned with data as per the previous section.
+ Parameters
    + outboundDialPlanRuleId (ID)
+ Response 200
    + Body

            TODO: outbound dial plan rule object goes here

## Incoming Call Matching Dial Plan API Methods [/inboundDialPlanRules/{?filter,offset,limit,tenantFilter}]
### Access to incoming domain matching rules

When an incoming SIP call is routed to the Meeting Server, the Call Bridge looks through the configured inbound dial plan rules first and tries to match the "domain" part of the destination URI "<user>@<domain>"against the rules. 

Use the POST method on API object `/inboundDialPlanRules` to create a new inbound dial plan rule to match against incoming SIP calls, or set it up via the Web Admin Interface (see note below)
---
**Note:** On the Web Admin Interface, the table of inbound rules is configured through the **Configuration > Incoming calls** page.

---
## Retrieving incoming dial plan rules [GET]
Response is a collection of `<inboundDialPlanRuleId=<ID>>` objects contained within an `<inboundDialPlanRules>` object `<inboundDialPlanRule>` elements follow the general form on the left.


<table>
  <tr>
    <th>Response elements</th>
    <th>Type/Value</th>
    <th>Description/Notes</th>
  </tr>
  <tr>
    <td> </td>
    <td> </td>
    <td>Response is a collection of "&lt;inboundDialPlanRule id=&lt;ID&gt;&gt;" objects contained within an "&lt;inboundDialPlanRules&gt;" object&lt;inboundDialPlanRule&gt; elements follow the general form on the left.</td>
  </tr>
  <tr>
    <td>inboundDialPlanRule id</td>
    <td>ID</td>
    <td> </td>
  </tr>
  <tr>
    <td>domain</td>
    <td>Text</td>
    <td>The domain to match in order to apply the dial plan rule. Must be a complete value (e.g. "example.com")</td>
  </tr>
  <tr>
    <td>priority</td>
    <td>Number</td>
    <td>Determines the priority of the inbound dial plan rule where multiple rules are applicable</td>
  </tr>
  <tr>
    <td>resolveToUsers</td>
    <td>true|false</td>
    <td>If set to true, calls to this domain will be matched against user JIDs (if a match is then found, that incoming call leg causes a "point to point" call to that user's Meeting App.</td>
  </tr>
  <tr>
    <td>resolveTocoSpaces</td>
    <td>true|false</td>
    <td>If set to true, calls to this domain are matched against coSpace URIs (if a match is then found, the incoming call leg becomes a participant in the coSpace).</td>
  </tr>
  <tr>
    <td>resolveToIvrs</td>
    <td>true|false</td>
    <td>If set to true, calls to this domain are matched against configured IVR URIs (if a match is then found, the incoming call leg connects to that IVR).</td>
  </tr>
  <tr>
    <td>resolveToLyncConferences</td>
    <td>true|false</td>
    <td>If set to true, calls to this domain are resolved to a Lync conference URL; if the resolution is successful, the incoming call leg becomes a participant in the Lync conference.If this parameter is not supplied in a create (POST) operation, it defaults to “false”.</td>
  </tr>
  <tr>
    <td>resolveToLyncSimplejoin</td>
    <td>true|false</td>
    <td>If set to true, calls to this domain are resolved by an HTTPS lookup to the given URL. If the resolution is successful, the incoming call leg becomes a participant in the Lync conference. (From version 2.2).</td>
  </tr>
  <tr>
    <td>tenant</td>
    <td>ID</td>
    <td>If specified, calls to this inbound domain are only matched against user JIDs and coSpace URIs for the specified tenant</td>
  </tr>
</table>

+ Parameters
    + filter (optional) - Supply filter=`<string`> in the URI to return just those incoming dial plan rules that match the filter
    + offset (optional) - An "offset" and "limit" can be supplied to retrieve incoming dial plan rules other than the first "page" in the notional list (see above)
    + limit (optional) - An "offset" and "limit" can be supplied to retrieve incoming dial plan rules other than the first "page" in the notional list (see above)
    + tenantFilter (ID, optional) - If supplied, this filter only those inbound dial plan rules associated with the specified tenant
+ Response 200
    + Body

            TODO: Need a inboundDialPlanRule object for this area

## Creating and modifying incoming dial plan rules [POST]
* Creating: POST method to the `/inboundDialPlanRules` node. If the incoming dial plan rule is created successfully, a “200 OK” response will be received, and the `Location` header in the response will contain the new incoming dial plan rule ID
* Modifying: PUT method on an `/inboundDialPlanRules/<inbound dial plan rule ID>` node

<table>
  <tr>
    <th>Parameters</th>
    <th>Type/Value</th>
    <th>Description/Notes</th>
  </tr>
  <tr>
    <td>domain *</td>
    <td>String</td>
    <td>The domain to match in order to apply the dial plan rule. Must be a complete value (e.g. "example.com")</td>
  </tr>
  <tr>
    <td>priority</td>
    <td>numeric</td>
    <td>inbound dial plan rules' configured domain values are always exactly matched against incoming calls. For the purposes of generating full URIs to advertise for incoming calls (especially cases where multiple rules are applicable) you can also set a numeric priority value - higher values will be preferred</td>
  </tr>
  <tr>
    <td>resolveToUsers</td>
    <td>true|false</td>
    <td>If set to true, calls to this domain will be matched against user JIDs (if a match is then found, that incoming call leg causes a "point to point" call to that user's Meeting App.</td>
  </tr>
  <tr>
    <td>resolveTocoSpaces</td>
    <td>true|false</td>
    <td>If set to true, calls to this domain will be matched against coSpace URIs (if a match is then found, the incoming call leg becomes a participant in the coSpace).</td>
  </tr>
  <tr>
    <td>resolveToIvrs</td>
    <td>true|false</td>
    <td>If set to true, calls to this domain will be matched against configured IVR URIs (if a match is then found, the incoming call leg connects to that IVR).</td>
  </tr>
  <tr>
    <td>resolveToLyncConferences</td>
    <td>true|false</td>
    <td>If set to true, calls to this domain will be resolved to a Lync conference URL; if the resolution is successful, the incoming call leg becomes a participant in the Lync conference.If this parameter is not supplied in a create (POST) operation, it defaults to “false”.</td>
  </tr>
  <tr>
    <td>resolveToLyncSimplejoin</td>
    <td>true|false</td>
    <td>If set to true, calls to this domain will be resolved by an HTTPS lookup to the given URL. If the resolution is successful, the incoming call leg becomes a participant in the Lync conference.If this parameter is not supplied in a create (POST) operation, it defaults to “false”. (From version 2.2).</td>
  </tr>
  <tr>
    <td>tenant</td>
    <td>ID</td>
    <td>If specified, calls to this inbound domain will only be matched against user JIDs and coSpace URIs for the specified tenant</td>
  </tr>
</table>

+ Attributes (inboundDialPlanRule)
+ Response 200
    + Headers

            Location:ID

## Retrieving information on an individual incoming dial plan rule [GET /inboundDialPlanRules/{inboundDialPlanRuleId}]
GET method on a `/inboundDialPlanRules/<inbound dial plan rule ID>` node. If the incoming dial plan rule ID supplied is valid, a "200 OK" response and a single `<inboundDialPlanRule id=<ID>>` object will be returned with data as per the previous section.
+ Parameters
    + inboundDialPlanRuleId (ID)
+ Response 200
    + Body

            TODO: Need inboundDialPlanRuleId object here...

## Incoming Call Forwarding Dial Plan API Methods [/forwardingDialPlanRules{?filter,offset,limit,tenantFilter}]
### Access to incoming call forwarding rules
If the "domain" part of the destination URI of an incoming SIP call fails to match any of the inbound dial plan rules, the call will be handled according to the rules in the call forwarding dial plan. The rules decide whether to reject the call outright or to forward the call in bridge mode.

Call forwarding rules can overlap, and include wildcards. You order rules using the Priority value; higher numbered rules are tried first. By defining rules, you decide whether to forward the call or not. It might be appropriate to “catch” certain calls and reject them.

For calls that will be forwarded, you can rewrite the destination domain, a new call is created to the specified domain.

The call forwarding dial plan sits in the API object tree under a `/forwardingDialPlanRules` node. Use the POST method to create the forwarding rules or set them up via the Web Admin Interface (see note below)

---
**Note:** On the Web Admin Interface, the Incoming Call Forwarding rules are configured through the Call Forwarding section of the **Configuration > Incoming calls** page.

---
## Retrieving incoming call forwarding dial plan rules [GET]
Response is a collection of `<forwardingDialPlanRule id=<ID>>` objects contained within an `<forwardingDialPlanRules>` object `<forwardingDialPlanRule>` elements follow the general form on the left. The matchPattern and priority are described in the next section

<table>
    <tr>
        <th>Response elements</th>
        <th>Type/Value</th>
        <th>Description/Notes</th>
    </tr>
    <tr>
        <td>forwardingDialPlanRule id</td>
        <td>ID</td>
        <td></td>
    </tr>
    <tr>
        <td>matchPattern</td>
        <td>Text</td>
        <td>The domain to match in order to apply the dial plan rule. Must be a complete domain name (e.g. "example.com") or a “wildcarded” one (e.g. *.com)</td>
    </tr>
    <tr>
        <td>priority</td>
        <td>Number</td>
        <td>Numeric value used when determining the order in which to apply forwarding dial plan rules; higher values will be applied first</td>
    </tr>
    <tr>
        <td>tenant</td>
        <td>ID</td>
        <td>If specified, calls using this forwardingDialPlanRule will only be matched against the specified tenant</td>
    </tr>
</table>

+ Parameters
    + filter (optional) - Supply filter=`<string`> in the URI to return just those incoming call forwarding rules that match the filter
    + offset (optional) - An "offset" and "limit" can be supplied to retrieve coSpaces other than the first "page" in the notional list (see Section 4.1.2)
    + limit (optional) - An "offset" and "limit" can be supplied to retrieve coSpaces other than the first "page" in the notional list (see Section 4.1.2)
    + tenantFilter (ID, optional) - If supplied, this filter restricts the results returned to those forwarding dial plan rules that are associated with the specified tenant. This parameter is present from version 1.8 onwards
+ Response 200
    + Body

            TODO: forwardingDialPlanRules objects go here!

[...]
